<h1>Tweets</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th>Photo</th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.content %></td>
        <td><%= tweet.user %></td>
        <td><%= image_tag(tweet.user.url_photo , size: "30x30") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
